<article class="dv-edit-links-container">
  <section class="dv-edit-links-header">
    <h1 class="dv-edit-links-title">Customize your links</h1>
    <p class="dv-edit-links-subtitle">
      Add/edit/remove links below and then share all your profiles with the world
    </p>
    <button class="dv-edit-links-add-button">+ Add new link</button>
  </section>

  <section class="dv-edit-links-body">
    <div class="dv-edit-links-body-starter">
      <img src="assets/started-body.png" alt=""/>
      <h1>Let’s get you started</h1>
      <p>Use the “Add new link” button to get started. Once you have more than one link, you can reorder and edit them.
        We’re here to help you share your profiles with everyone!</p>
    </div>
  </section>

  <section class="dv-edit-links-footer">
    <hr class="dv-edit-links-divider"/>
    <button class="dv-edit-links-save-button">Save</button>
  </section>
</article>
